<main>
    <h2>Vítejte na oficiálním e-shopu SPŠSOL!</h2>
    <section class="products">
        <article class="product">
            <%= image_tag "mikina-voyage.jpg" %>
            <h3>Mikina Voyage</h3>
            <p>Prémiová mikina vhodná pro speciální příležitosti.</p>
            <span class="price">849 Kč</span>
            <button>Přidat do košíku</button>
        </article>
        <article class="product">
            <%= image_tag "mikina-cape.jpg" %>
            <h3>Mikina Cape</h3>
            <p>Super mikina vhodná pro všechny příležitosti.</p>
            <span class="price">699 Kč</span>
            <button>Přidat do košíku</button>
        </article>
        <article class="product">
            <%= image_tag "tricko-base.jpg" %>
            <h3>Tričko Base</h3>
            <p>Super tričko vhodné pro všechny příležitosti.</p>
            <span class="price">149 Kč</span>
            <button>Přidat do košíku</button>
        </article>
        <article class="product">
            <%= image_tag "tricko-heavy-new.jpg" %>
            <h3>Tričko Heavy new</h3>
            <p>Super tričko vhodné pro všechny příležitosti.</p>
            <span class="price">179 Kč</span>
            <button>Přidat do košíku</button>
        </article>
    </section>
</main>

