<% content_for :title, "New promo banner" %>

<h1>New promo banner</h1>

<%= render "form", promo_banner: @promo_banner %>

<br>

<div>
  <%= link_to "Back to promo banners", promo_banners_path %>
</div>
