---
import "../styles/components/CategorySidebar.css";
---

<section class="categorysidebar">
    <h3>Kategorie</h3>
    <span class="sidebar">
        <div class="item start">
            <a href="/categoryexample">
                <i class="fa-solid fa-cookie-bite"></i>
                <span>Mikiny</span>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <i class="fa-solid fa-cookie-bite"></i>
                <span>Trička</span>
            </a>
        </div>
        <div class="item end">
            <div class="background">
                <a href="#">
                    <i class="fa-solid fa-cookie-bite"></i>
                    <span>Doplňky</span>
                </a>
            </div>
        </div>
    </span>
</section>
