---
import "../styles/components/Footer.css";
---

<section class="footer">
    <h1>E-shop SPŠSOL</h1>
    <h2>
        Created entirely by <a href="//krychtalek.cz" target="_blank"
            >Martin Krychtálek</a
        >
    </h2>
    <hr />
    <a class="admin" href="/admin"
        >Administrátorská sekce<i class="fa-solid fa-caret-right"></i></a
    >
</section>
