---
import "../styles/components/MainBanner.css";
---

<section class="banner">
    <div class="card">
        <h1 class="title">Nadpis</h1>
        <p class="description">Popisek</p>
        <div class="button">
            <a href="/categoryexample">Dozvědět se více</a>
        </div>
    </div>
</section>

