<div id="<%= dom_id discount %>">
  <p>
    <strong>Code:</strong>
    <%= discount.code %>
  </p>

  <p>
    <strong>Discount percent:</strong>
    <%= discount.discount_percent %>
  </p>

  <p>
    <strong>Valid until:</strong>
    <%= discount.valid_until %>
  </p>

</div>
