---
import "../styles/components/global.css"
---

<!DOCTYPE html>
<html lang="cs">
    <head>
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    </head>
    <body>
        <slot />
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script type="text/javascript">
			AOS.init();
		  </script>
    </body>
</html>